.formSection {
  display: flex;
  gap: 58px;
  flex-direction: column;
  width: 100%;
  margin-top: 45px;
  justify-content: center;
}

.formTitle {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  align-self: center;
  color: #172b4d;
  width: 80%;
  max-width: 328px;
}

.formBreak {
  display: none;
}

form {
  width: 100%;
  max-width: 566px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
}

.formList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.formItem2,
.formItem {
  padding: 0;
  margin: 0;
}

.formItem2 {
  height: 75px;
}

.formName,
.formEmail {
  width: 327px;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.formName::placeholder,
.formEmail::placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
}

.formText,
.formTextB,
.formTextC {
  padding: 12px;
  border: 1px solid #60c095;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 15px;
}

.formText {
  box-sizing: border-box;
  width: 100%;
}

.formName:focus,
.formText:focus,
.formEmail:focus {
  outline: none;
}

.formText::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.formButton {
  background-color: rgba(54, 179, 127, 1);
  color: white;
  font-family: 'Inter', sans-serif;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: 0.15s;
}

.formButton:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.formButton:active {
  background-color: rgba(0, 133, 82, 1);
}

.formImgDiv,
.formImgDivB,
.formImgDivC {
  position: absolute;
  width: 100%;
}

.formImgDesktopA,
.formImgDesktopB,
.formImgDesktopC {
  width: 0;
  height: 0;
}

@media only screen and (min-width: 768px) {
  .formSection {
    flex-direction: row;
    gap: 0;
    width: 87%;
    margin-right: 6.5%;
    margin-left: 6.5%;
    margin-bottom: 300px;
  }

  .formTitle {
    font-size: 25px;
    align-self: auto;
    padding-top: 40px;
    min-width: 386px;
  }

  .formBreak {
    display: initial;
  }

  .formList {
    width: 100%;
  }

  .formName,
  .formEmail {
    width: 91%;
  }

  .formImgDesktopA,
  .formImgDesktopB,
  .formImgDesktopC {
    width: 150px;
    height: auto;
  }

  .formImgDesktopA {
    margin-top: 220px;
    float: left;
  }

  .formImgDesktopB {
    margin-left: 300px;
    margin-top: 350px;
  }

  .formImgDesktopC {
    margin-top: 150px;
    float: right;
  }

  .formImgDiv,
  .formImgDivB,
  .formImgDivC {
    position: absolute;
    width: 100%;
  }
}

@media only screen and (min-width: 1027px) {
  .formName,
  .formEmail {
    width: 94.3%;
  }

  .formTitle {
    margin-right: 80px;
  }

  .formImgDesktopA,
  .formImgDesktopB,
  .formImgDesktopC {
    width: 200px;
  }

  .formImgDesktopC {
    margin-top: 120px;
  }
}
