.toolbar {
  display: flex;
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
}

.hamburgerMenu {
  background-image: url(../assets/images/Toolbox/Icon\ -\ Menu.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  width: 24px;
  height: 24px;
  position: relative;
  top: 20%;
  left: 85%;
}
